body {
    @extend %Rubik-400;
    font-size: 20px;
    line-height: 1.3;
    color:$default;
    background-color: #F9FAFF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    paddsectioning: 0 15px;
}

.section {
    padding: 120px 0;
     text-align: center;
}

.logo {
    display: block;
    transition: opacity 0.6s, outline 0.6s;
    outline: 2px solid transparent;  
    border-radius:5px; 
    &:hover{
       opacity: 0.8;
    }

    &:focus{
       outline: 2px solid rgba(255, 104, 56, 0.7);
    }

    &:active{
       opacity: 0.5;
    }
}

.icon {
    stroke: currentColor;
    width: 19px;
    height:19px;
    fill: none;
}

.primary-button {
    background-color:$active;
    font-size: 18px;
    border-radius: 6px;
    padding: 12px 32px;
    color: #fff;
    margin-right:34px;
    outline: 2px solid transparent;
    transition: outline 0.6s, box-shadow 0.6s, background-color 0.6s, color 0.6s;

      &:hover {
        outline: 2px solid rgba(255, 104, 56, 0.7);
        box-shadow: 0 5px 12px rgba(255, 104, 56, 0.2);
        background-color: transparent;
        color: $active;
    }

      &:focus {
        outline: 2px solid rgba(255, 104, 56, 0.7);
        box-shadow: 0 5px 12px rgba(255, 104, 56, 0.2);
        background-color: rgba(255, 122, 80, 0.1);
        color: $active;
    }

      &:active {
        outline: 2px solid transparent;
        box-shadow: 0 5px 12px rgba(255, 104, 56, 0.2);
        background-color: rgba(255, 122, 80, 0.1);
        color: $active;
    }
}


.title {
    @extend %Rubik-500;
    font-size: 36px;
}

.product {
		// .product__item

		&__item {
                  display: inline-block;
                  max-width: 210px;
                  width: 100%;
                  background-color: #fff;
                  outline: 1px solid $additional;
                  border-radius: 5px;
                  padding: 20px 15px;
                  font-size: 15px;
                  transition: outline 0.6s;
		}

        &__item:hover {
            outline: 1px solid $active;
        }

		// .product__img

		&__img {
                  display: inline-block;
                  object-fit: cover;
                  margin-bottom: 10px;
		}

		// .product__name

		&__name {
                  margin-bottom: 10px;
		}
		// .product__price

		&__price {
                  @extend%Rubik-500;
                  margin-bottom: 10px;
		}
        
}

.product-button {
      margin: 0 auto;
      font-size: 14px;
}






