$title: #363853;
$default: #31352B;
$accent:#c2c2c2;
$active: #ff6838;
$additional: #ECECEC;
$auxiliary: #ffffff;


%Rubik-300{
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%Rubik-400{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%Rubik-500{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}