@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
      padding: 60px 0;
		// .header__navigation

            &__inner {
                  display: flex;
                  justify-content: space-between;
            }

		&__navigation {
                  display: flex;
                  align-items: center;
		}
}
.menu {
margin-right: 50px;
		// .menu__list

		&__list {
                  display: flex;
		}

		// .menu__item

		&__item {
                  font-size: 18px;
                  line-height: 1.4;

		}
            &__item:not(:last-child) {
                  margin-right: 45px;
            }
           

		// .menu__link

		&__link {
                  outline: 2px solid transparent;
                  border-radius: 5px;
                  transition: color 0.6s, outline 0.6s, text-shadow 0.6s;
                  &:hover {
                        color:$active;
                  }

                  &:focus {
                        outline: 2px solid rgba(255, 104, 56, 0.7);
                  }

                  &:active {
                        text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
                  }
		}
            &__link--active {
                  color:$active ;
            }
}
.user-nav {
		// .user-nav__list

		&__list {
                  display: flex;
		}

		// .user-nav__item

		&__item {
                  
		}
            &__item:not(:last-child) {
                  margin-right: 10px;
            }

           

		// .user-nav__link

		&__link {
                 
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 background-color: transparent;
                 width: 44px;
                 height: 44px;
                 color: $title;
                 position: relative;
                 outline: 2px solid transparent;
                 border-radius: 5px;
                 transition: background-color 0.6s, color 0.6s outline 0.6s ease-in-out ;
		}

            .icon {
                  stroke: currentColor;
                  width: 19px;
                  height:19px;
                  fill: none;
            }
            // .user-nav__number

            &__number {
                  position: absolute;
                  width: 14px;
                  height: 14px;
                  border-radius: 50%;
                  background-color: $active;
                  top: 8px;
                  right: 4px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 10px;
                  line-height: 1.2;
                  color: #fff;
                  transition: background-color 0.6s, color 0.6s;
            }
            .user-nav__link:hover {
                  background-color: $active;
                  color: rgb(255, 255, 255);
                 
            } 
            .user-nav__link:hover .user-nav__number {
                  background-color: #fff;
                  color: $active;                
            } 

            .user-nav__link:focus {
                  background-color: rgba(255, 122, 80, 0.1);
                  color: black;
                  outline: 2px solid rgba(255, 104, 56, 0.7);                
            } 

            .user-nav__link:focus .user-nav__number {
                  background-color: $active;
                  color: #fff;                              
            } 

            .user-nav__link:active {
                  background-color: #FFF2ED;                              
            } 

            .user-nav__link:active .user-nav__number {
                  background-color: $active;
                  color: #fff;                              
            } 
}

.hero-section {
      min-height: 100vh;

		// .hero-section__inner

		&__inner {
                  display: flex;
                  justify-content: space-between;
		}

		// .hero-section__content

		&__content {
                  max-width: 450px;
                  width: 100%;
                  margin-right: 162px;
                  padding: 155px 0;

		}

		// .hero-section__title

		&__title {
            @extend %Rubik-500;
                  font-size: 66px;
                  color: $title;
                  text-transform: uppercase;
                  margin-bottom:20px;
		}

            &__subtitle {
                  color: $active;
            }

		// .hero-section__text

		&__text {
                  line-height: 1.5;
                  margin-bottom:20px;
		}

		// .hero-section__link

		&__link {
                  text-decoration: underline;
		}

		// .hero-section__img

		&__img {
		}
}
.primary-button {
}


            

		







@import 'media';